<!DOCTYPE html>
<html>
<head>
  <title>My Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="navbar"><!-- 新規登録、ログイン等 -->
      <ul>
        <li><%= link_to "Top", root_path %></li>
        <li>ログイン</li>
        <li>新規登録</li>
      </ul>
    </div>
    <h1>My Calendar</h1>
  </header>

  <div class="container">
    <!-- notice -->
    <% if flash.notice %>
    <p class="notice"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
    
  </div>
  <footer>&copy; 2017 Terunori Hashizume</footer>
</body>
</html>
